html{box-sizing: border-box;}
*,*:before,*:after{box-sizing: inherit;}
#container{
	width: 100%
}
.header{
	height: 100px;
	width:100%;
	background-color: red;
	position: fixed;
	z-index: 99999;
	margin-top: -100px;
	
}
.restaurant{
	
	margin-top: 100px;
	height: 530px;
	width: 100%;
	
	
}
.prev, .next {
  cursor: pointer;
  position: absolute; 
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;

}
.next{
	right: 0
}
.pics{
	position: absolute;
	z-index: -1;
	width: 100%;
	opacity: 0;
    transition: opacity 0.5s;
}
.pics img:first-child{
	width: 100%;
}
.title{
	color: white;
	position: absolute;
}
.current{
	z-index: 2;
   
}
.opacity{
	opacity: 1;
}

p{
	margin-top: 0;
}
h1{
	margin-top: 0;
}
h2{
	margin-top: 0;
}





.tabs{
	height: 700px;
	margin-top: 318px;
	background-color: pink;	
	
}
label{
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}
input{
	border-radius: 3px;
	width: 170px;
	
}
button{
	width: 100px;
	height: 30px;
	background-color: red;
	border-radius: 3px;
	color:white;
}
button:hover{
	background-color: white;
	color: black;
}
select{
	width: 175px;
	height: 35px;
}


.footer{
	
	height: 50px;
	width: auto;
	color: white;
	background-color: black;
}